<link rel="stylesheet" type="text/css" href="/css/home.css">
<div class="row center">
	<h1 class="cover-heading hidden-xs">Bienvenue à KooSky.</h1>
	<h2 class="cover-heading hidden-sm hidden-lg hidden-md">Bienvenue à KooSky.</h2>
	<p class="lead">"La nouvelle manière de choisir son avenir !"</p>
	<p class="lead">
		<a href="/discover" class="btn btn-lg btn-default">C'est quoi Koosky ?</a>
	</p>
</div>
