<link rel="stylesheet" type="text/css" href="/css/profile.css">
<div id="profile" class="col-xs-12 col-sm-12 col-lg-12">
	<img id="pp" class="col-xs-3 col-sm-2 col-lg-1 img-rounded" src="/img/profile/pp.png">
	<p><h2><%= user.fname %> <%= user.name %> <h3>alias <%= user.username %>, <%= age %> ans</h3></h2></p>
</div>